.welcome {
    position: relative;
    height: 400px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.subhead {
          color: #48d1cc;
          float:right;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 3px;
          text-transform: uppercase;
}

.catch {
          font-size: 44px;
          color: #000000;
          text-align:right;
          line-height: 1.3;
          font-weight: 300; }
          .welcome h1 span {
            font-weight: 900; }
          @media (max-width: 991.98px) {
            .welcome h1 {
              color:#000000;
              font-size: 50px; } }
          @media (max-width: 767.98px) {
            .welcome h1 {
              font-size: 40px; } 
          }

.welcome p {
          color: #696969;
          text-align: right;
          font-weight: 400; }
          @media (max-width: 991.98px) {
            .welcome p {
              color: #696969;
              font-size: 12px; } }
              
.register-button {
    margin-left:auto;
    margin-right:auto;
}

.founder_img {
    width:150px;
    height:150px;
    border-radius: 50%;
    background-position:center;
    background-size: cover;
}    

table.profile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table.profile th{
    width: 35%;
    padding: 10px;
    background: #f5f5f5;
}

table.profile td{
    width: 65%;
    padding: 10px;
}

.intro {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cp_hr05 {
	position: relative;
	height: 1px;
	border-width: 0;
	background-color: #00bcd4;
	background-image: -webkit-linear-gradient(left,
	#00bcd4 0%,#283593 50%,#00bcd4 100%);
	background-image:         linear-gradient(90deg,
	#00bcd4 0%,#283593 50%,#00bcd4 100%);
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 20px;
}

.card-header {
  background: #48d1cc;
  color: #fff;
  font-style: bold;
}

.card-title {
  color:#fff;
}

.timestamp {
  color:#808080;
}

.payicon1 {
  background-image: url('../images/green.png');
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.payicon3 {
  overflow: hidden;
  background-image: url('../images/blue.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.payicon5 {
  overflow: hidden;
  background-image: url('../images/pink.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #48d1cc;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #48d1cc;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.icon_area {
  position: relative;
  width: 200px;
  height:200px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 30px
}

.mypage_icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}

.mypage_no_icon {
   background-image: url('../images/green.png');
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center center;
    margin-left: auto;
    margin-right: auto; 
}

.picture_edit_icon{
  position: absolute;
  left:150px;
  top: 150px;
  
}

.profile_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}
  @media (max-width: 767.98px) {
    .profile_icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center center;
      margin-left: auto;
      margin-right: auto;
}}
  

.no_icon {
    background-image: url('../images/green.png');
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}
  @media (max-width: 767.98px) {
    .no_icon {
      background-image: url('../images/green.png');
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center center;
      margin-left: auto;
      margin-right: auto;
}}

.users_icon {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

input[type="checkbox"].search {
  display: none;
}

.label {
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ラベル外側の余白を指定する */
  width: auto; /* ラベルの横幅を指定する */
  height: 45px; /* ラベルの高さを指定する */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  padding-left: 5px; /* ラベル内左側の余白を指定する */
  padding-right: 5px; /* ラベル内右側の余白を指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  color: #000000; /* フォントの色を指定 */
  border: 1px solid #808080;/* ラベルの境界線を実線で指定する */
  border-radius: 20px; /* 角丸を指定する */
  background-color:#f5f5f5;
}

.search:checked + .label {
  background-color:#008b8b;
  border: 1px solid #008b8b;
  color:#fff;
}

.search-box {
  border: 1px solid #d3d3d3;/* ラベルの境界線を実線で指定する */
  background-color:#fff;
  box-shadow: 2px 2px 4px gray;
  margin-left: auto;
  margin-right:auto;
}

.label-register {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.member-list {
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: auto;
}

.search-title {
    height:30px;
    border:0;
    box-shadow:0 30px 30px -30px #ccc inset;
}

.records {
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  border:1px solid;
}

table .records th, table .records td {
  width:20%;
  padding: 10px 0;
  text-align:center;
  border-collapse: collapse;
  border:1px solid;
}

.official_icon {
  color:#008b8b;
  font-size: 10px;
}

.title_border_left{
  border-left: thick solid #48d1cc;
  padding-left:10px;
}

.fa-university {
  color: #808080;
}

.fa-briefcase {
  color: #808080;
}

.fa-building {
  color: #808080;
}

.fa-certificate {
  color: #808080;
}

.fa-bullseye {
  color: #808080;
}

.fa-plane {
  color: #808080;
}

.fa-exchange-alt {
  color: #808080;
}

.fa-heart {
  color: #808080;
}

.fa-baby {
  color: #808080;
}

.fa-bullhorn {
  color: #808080;
}

.oversea{
  display: inline-block;
  background:#696969;
  color: #fff;
  border-radius: 10px;
  padding:5px;
  margin:1px;
}

.fa-ticket-alt{
  color: #48d1cc;
}

.fa-clipboard{
  color: #48d1cc;
}

.fa-calendar-alt{
  color: #48d1cc;
}

.fa-video{
  color: #48d1cc;
}

.list-group-horizontal {
  flex-direction: row;
}

.list-group-item {
  width:100%;
  padding:0;
}

@media (max-width: 767.98px) {
  .nav_title {
    display: block;
    font-size:12px;
  }}
  
.clearfix::after {
  content:"";
  display:block;
  clear:both;
}

.alert-inline {
  color: #721c24;
}

.staff_auth_button {
  display: inline;
}

.userlist {
  width:100%;
}

table.userlist th {
  width: 20%;
  padding:10px;
  vertical-align: top;
  text-align: center;
}

table.userlist td {
  width: 80%;
  padding: 10px;
}

.requests_list {
  width:100%;
}

table.requests_list th {
  width: 20%;
  padding:10px;
  vertical-align: top;
  text-align: center;
}

table.requests_list td {
  padding: 10px;
}

.name-message{
  width:50%;
  padding:10px;
}

.accept-button {
  width:30%;
  padding:10px;
}

.confirm {
  width:60%;
  margin-right: auto;
  margin-left: auto;}
    @media (max-width: 767.98px) {
      .confirm {
        width:100%;
        margin-right:auto;
        margin-left:auto;
      }}  

table.confirm th{
  width:30%;
  padding:10px;
  background: #d3d3d3;}
    @media (max-width: 767.98px) {
    table.confirm th{
      font-size: 12px;
    }}

table.confirm td{
  width:70%;
  padding:10px;
}

.contact-confirm {
  width:80%;
  margin-right: auto;
  margin-left: auto;
}
table.contact-confirm th{
  width:30%;
  padding:10px;
  background: #d3d3d3;
}

table.contact-confirm td{
  width:70%;
  padding:10px;
}

.submit-return-buttons{
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767.98px) {  
  .official-name {
    text-align: center;
  }}
  
.timestamp{
  font-size: 10px;
  font-color: #dcdcdc;
}  

.error-message{
  color:red;
  font-size: 12px;
  font-weight: bold;
}

/*.mypage-link{*/
/*  position: relative;*/
/*  height: 100%;*/
/*}*/

.mypage-badge{
  position: absolute;
  bottom: 5px;
  left:calc(50% - 10px);
}

.mypage-link{
  display: flex;
  flex-direction: row;
  width:100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 767.98px) { 
.mypage-link{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 13px 5px 10px 5px;
}}

.nav-title{
  flex-grow:2; 
}

.accept-checkbox {
  height: 15px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 18px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .accept-checkbox:focus, .accept-checkbox:active {
    border-color: #000000; }
}

.accept-checkbox.is-invalid {
  border-color: #dc3545;
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right calc(2.25rem / 4);
  background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E"); }
  .was-validated .accept-checkbox:invalid:focus, .accept-checkbox.is-invalid:focus {
    border-color: #dc3545;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
  .was-validated .accept-checkbox:invalid ~ .invalid-feedback,
  .was-validated .accept-checkbox:invalid ~ .invalid-tooltip, .accept-checkbox.is-invalid ~ .invalid-feedback,
  .accept-checkbox.is-invalid ~ .invalid-tooltip {
    display: block; }
    
.company-logo {
  width: 100px;
  height: 100px;
}
@media (max-width: 767.98px) { 
.company-logo{
  width: 80px;
  height: 80px;
}}    