.welcome {
    position: relative;
    height: 600px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.subhead {
          color: #48d1cc;
          float:right;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 3px;
          text-transform: uppercase;
}

.catch {
          font-size: 44px;
          color: #000000;
          text-align:right;
          line-height: 1.3;
          font-weight: 300; }
          .welcome h1 span {
            font-weight: 900; }
          @media (max-width: 991.98px) {
            .welcome h1 {
              color:#000000;
              font-size: 50px; } }
          @media (max-width: 767.98px) {
            .welcome h1 {
              font-size: 40px; } 
          }

.welcome p {
          color: #696969;
          text-align: right;
          font-weight: 400; }
          @media (max-width: 991.98px) {
            .welcome p {
              color: #696969;
              font-size: 12px; } }
              
.register-button {
    margin-left:auto;
    margin-right:auto;
}

.founder_img {
    width:150px;
    height:150px;
    border-radius: 50%;
    background-position:center;
    background-size: cover;
}    

table.profile{
    width: 100%;
}

th{
    width: 35%;
}

td{
    width: 65%;
}

p.intro {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cp_hr05 {
	position: relative;
	height: 1px;
	border-width: 0;
	background-color: #00bcd4;
	background-image: -webkit-linear-gradient(left,
	#00bcd4 0%,#283593 50%,#00bcd4 100%);
	background-image:         linear-gradient(90deg,
	#00bcd4 0%,#283593 50%,#00bcd4 100%);
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 20px;
}

.card-header {
  background: #48d1cc;
}

.card-title {
  color:#fff;
}

.timestamp {
  color:#808080;
}

.payicon1 {
  background-image: url('../images/green.png');
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.payicon3 {
  overflow: hidden;
  background-image: url('../images/blue.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.payicon5 {
  overflow: hidden;
  background-image: url('../images/pink.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #48d1cc;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #48d1cc;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}
